.admin-container {
	background-color: #c4e4bf;
	max-width: 361px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 20px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

.admin-header {
	font-weight: bold;
}

.save-button {
	margin-bottom: 10px;
	min-width: 74px;
	min-height: 22px;
}

.save-button-cell {
	text-align: right;
}

#message {
	text-align: right;
	margin-bottom: 10px;
}

.save-loader {
	background: url(../../images/loader-small.gif);
	width: 16px;
	height: 16px;
	margin-top: -8px;
	display:none;
	position: relative;
	z-index: 10;
	border: none;
}

.save-loader-cell {
	width: 16px;
}

.load-loader {
	background: url(../../images/loader-small.gif);
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: 200px;
	margin-top: 6px;
	display: none;
}

.admin-password-input{
	margin-top: 20px;
}
.admin-password-label{
	padding-top: 20px;
}

input {
	width: 70px;
}

.table, .table td {
	border: 1px solid black;
}