html,body {
	height: 100%;
	font-family: Trebuchet MS, sans-serif;
	color: white;
}

a {
	color: white;
}

a:visited {
	color: white;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	height: 100%;
}

.center {
	text-align: center;
}

.errorText {
	color: #ff0033;
}

