.header {
	font-size: 36px;
	text-align: center;
	padding-top: 300px;
	font-weight: bold;
}

.login-input {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 428px;
}

.or {
	width: 100px;
}


.label {
	font-size: 12px;
	font-weight: bold;
}

#errorMessage {
	text-align: center;
	margin-top: 10px;
}

.horizontal-separator {
	width: 700px;
	border-bottom: 1px solid black;
	margin-left: 50px;
	margin-top: 25px;
}

.info-text {
	margin-top: 15px;
	width: 620px;
	margin-left: 90px;
}

.new-com-url {
	margin-top: 10px;
	text-align: center;
}

.load-animation-big {
	display: none;
	margin: auto;
}

.logo {
	position: absolute;
	width: 172px;
	height: 227px;
	margin-left: 312px;
	margin-top: 80px;
}

input {
	background-color: #c4e4bf;
}