#overview {
	
}

.hidden {
	display: none;
}

.tableContainer {
	position: relative;
	width: 440px;
	padding: 10px;
	background-color: #c4e4bf !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
}

.scheduleContainer {
	position: relative;
	background-color: #c3e3bf;
	padding: 10px;
	width: 440px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#overview ul {
	list-style-type: none;
}

.idTabs {
	margin-left: 0px;
	margin-top: 60px;
	position: absolute;
}

.idTabs li {
	list-style-type: none;
}

.idTabs li a:active {
	background-color: rgba(195, 227, 191, 0.7);
}

.idTabs li a {
	text-decoration: none;
	color: black;
	display: block;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	margin-right: 5px;
	margin-top: 15px;
	padding-top: 3px;
	width: 81px;
	height: 30px;
	background-color: #c3e3bf;
	text-align: center;
	width: 92px;
}

.idTabs .selected {
	font-weight: bold;
}

.header {
	font-weight: bold;
}

.position {
	text-align: center;
}

.teamName {
	width: 213px;
	padding-left: 5px;
}

.gamesWon,.gamesDrawn,.gamesLost,.gamesPlayed,.goalsFor,.goalsAgainst,.goalDifference,.points
	{
	width: 20px;
	text-align: center;
}

.table tbody tr:nth-child(odd) {
	background-color: #b4d4bf;
}

.tableContainer thead,.scheduleContainer thead {
	font-size: 12px;
}

.tableContainer thead tr {
	background-color: #c4e4bf !important;
}

.home-team,.away-team {
	width: 196px;
}

.away-team {
	text-align: right;
}

.home-goals,.away-goals {
	width: 24px;
	text-align: center;
}

.scheduleContainer table:nth-child(even) {
	background-color: #b4d4bf;
}

.scheduleContainer thead {
	font-weight: bold;
}

.scheduleContainer .matchday {
	margin-bottom: 6px;
	font-size: 13px;
}

.info-message {
	position: absolute;
	width: 670px;
	padding: 10px;
	background-color: #c4e4bf !important;
	top: 207px;
	margin-left: 55px;
	border: 2px solid #0f340b;
	display: none;
}

.info-message table {
	margin-top: 15px;
	margin-bottom: 10px;
}

.info-message .closer {
	color: white;
	float: right;
	margin-top: -25px;
	background: #0f340b;
	width: 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.info-message .label {
	width: 125px;
}

.info-message .com,.info-message .id {
	font-weight: bold;
}

.overview-name-id {
	float: left;
	margin-top: -10px;
	background-color: #c4e4bf;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-right: 10px;
	padding-left: 5px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
}

.overview-name-id .label {
	width: 125px;
}

.overview-name-id .com,.overview-name-id .id {
	font-weight: bold;
}

.playoffContainer {
	position: relative;
	width: 440px;
	padding: 10px;
	background-color: #c4e4bf !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
}

.pairings tr:nth-child(even) {
	height: 49px;
	vertical-align: top;
}
.pairings tr:nth-last-child() {
	height: 21px !important;
}