#overview {
	
}

.hidden {
	display: none;
}

.tableContainer {
	position: absolute;
	padding: 10px;
	background-color: #c4e4bf !important;
	margin-top: 70px;
	margin-left: 25px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

.scheduleContainer {
	position: absolute;
	background-color: #c3e3bf;
	padding: 10px;
	margin-top: 70px;
	margin-left: 465px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#overview ul {
	list-style-type: none;
}

.idTabs {
	margin-left: -15px;
}

.idTabs li {
	float: left;
}

.idTabs li a:active {
	background-color: rgba(195, 227, 191, 0.7);
}

.idTabs li a {
	text-decoration: none;
	color: black;
	display: block;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	margin-right: 5px;
	margin-top: 15px;
	padding-left: 13px;
	padding-top: 3px;
	width: 81px;
	height: 30px;
	background-color: #c3e3bf;
}

.idTabs .selected {
	font-weight: bold;
}

.header {
	font-weight: bold;
}

.position {
	text-align: center;
}

.teamName {
	width: 175px;
	padding-left: 5px;
}

.gamesPlayed {
	width: 20px;
	text-align: center;
}

.gamesWon,.gamesDrawn,.gamesLost {
	width: 20px;
	text-align: center;
}

.goalsFor,.goalsAgainst {
	width: 20px;
	text-align: center;
}

.goalDifference {
	width: 20px;
	text-align: center;
}

.points {
	width: 20px;
	text-align: center;
}

.table tbody tr:nth-child(odd) {
	background-color: #b4d4bf;
}

.tableContainer thead,.scheduleContainer thead {
	font-size: 12px;
}

.tableContainer thead tr {
	background-color: #c4e4bf !important;
}

.home-team,.away-team {
	width: 110px;
}

.away-team {
	text-align: right;
}

.home-goals,.away-goals {
	width: 21px;
	text-align: center;
}

.scheduleContainer table:nth-child(even) {
	background-color: #b4d4bf;
}

.scheduleContainer thead {
	font-weight: bold;
}

.scheduleContainer .matchday {
	margin-bottom: 6px;
	font-size: 13px;
}