#overview {
	
}

.hidden {
	display: none;
}

.tableContainer {
	position: relative;
	width: 400px;
	padding: 10px;
	background-color: #c4e4bf !important;
	margin-top: 80px;
	margin-left: 25px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

.scheduleContainer {
	position: relative;
	background-color: #c3e3bf;
	padding: 10px;
	width: 289px;
	margin-top: -170px;
	margin-left: 467px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#overview ul {
	list-style-type: none;
}

.idTabs {
	margin-left: -15px;
	margin-top: -10px;
}

.idTabs li {
	float: left;
}

.idTabs li a:active {
	background-color: rgba(195, 227, 191, 0.7);
}

.idTabs li a {
	text-decoration: none;
	color: black;
	display: block;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.68);
	margin-right: 5px;
	margin-top: 15px;
	padding-left: 13px;
	padding-top: 3px;
	width: 81px;
	height: 30px;
	background-color: #c3e3bf;
}

.idTabs .selected {
	font-weight: bold;
}

.header {
	font-weight: bold;
}

.position {
	text-align: center;
}

.teamName {
	width: 175px;
	padding-left: 5px;
}

.gamesPlayed {
	width: 20px;
	text-align: center;
}

.gamesWon,.gamesDrawn,.gamesLost {
	width: 20px;
	text-align: center;
}

.goalsFor,.goalsAgainst {
	width: 20px;
	text-align: center;
}

.goalDifference {
	width: 20px;
	text-align: center;
}

.points {
	width: 20px;
	text-align: center;
}

.table tbody tr:nth-child(odd) {
	background-color: #b4d4bf;
}

.tableContainer thead,.scheduleContainer thead {
	font-size: 12px;
}

.tableContainer thead tr {
	background-color: #c4e4bf !important;
}

.home-team,.away-team {
	width: 110px;
}

.away-team {
	text-align: right;
}

.home-goals,.away-goals {
	width: 21px;
	text-align: center;
}

.scheduleContainer table:nth-child(even) {
	background-color: #b4d4bf;
}

.scheduleContainer thead {
	font-weight: bold;
}

.scheduleContainer .matchday {
	margin-bottom: 6px;
	font-size: 13px;
}

.info-message {
	position: absolute;
	width: 670px;
	padding: 10px;
	background-color: #c4e4bf !important;
	top: 207px;
	margin-left: 55px;
	border: 2px solid #0f340b;
	display: none;
}

.info-message table {
	margin-top: 15px;
	margin-bottom: 10px;
}

.info-message .closer {
	color: white;
	float: right;
	margin-top: -25px;
	background: #0f340b;
	width: 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.info-message .label {
	width: 125px;
}

.info-message .com,.info-message .id {
	font-weight: bold;
}

.overview-name-id {
	float: right;
	margin-top: -16px;
	background-color: #c4e4bf;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-leftt-radius: 10px;
	padding-right: 10px;
	padding-left: 5px;
	-webkit-box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.68);
	box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.68);
}

.overview-name-id .label {
	width: 125px;
}

.overview-name-id .com,.overview-name-id .id {
	font-weight: bold;
}